.viewImage{
    display: grid;
    padding: 80px 100px 70px 100px;
    box-sizing: border-box;

    img{
        width: 100%;
        height:auto;
        border-radius: 5px;
        border: 1px solid $image-border-color;
        @include shadow-hover;
    }

    .edicao{
        height: 100%;

        .info{
            &:first-child{
                padding-top: 25px;
            }
            
            &:not(:first-child){
                padding-top: 5px;
            }
        }

        .filters{
            position: relative;
            margin-top: 50px;
            font-family: Poppins-SemiBold;

            .progressCircle{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 999;
            }
        }

        .grayscale{
            padding-top: 5px;
            padding-bottom: 10px;
            input{
                transform: scale(1.4);
                color: black;
                &:checked{
                    background-color: black;
                }
            }

            label{
                padding-left: 7px;
            }
        }

        input{
            &.blur{
                width: 100%;
                color: black;
            }
        }
    }

    @media (max-width: 699px) {
        grid-template-columns: repeat(1, 1fr);
    }

    @media (min-width: 700px) {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 70px;
    }
}